


@{
    ViewBag.Title = "View";
}

<h2>View</h2>







<button id="initialScript">
    Click me!
</button>


<button id="poeitems">
    Get account names!
</button>


<button id="nextPoeItems">
    Get next elements!
</button>


<div>
    <br />
    <button id="chaosOrbCount">
        Get all count of chaos orbs!
    </button>
    <label id="countOfChaosOrbs">

    </label>


</div>

<table id="tablefriendsname">
    <tbody>
    </tbody>
</table>




<script src="~/Scripts/jquery-3.4.1.min.js">
</script>
<script src="~/Scripts/PoeApiScripts/InitialJSFile.js">
</script>
<script src="~/Scripts/PoeApiScripts/MainPage.js">
</script>
<script src="~/Scripts/PoeApiScripts/JSScriptHandler.js">
</script>